*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed rgb(255, 0, 200);
}

.flex{
    display: flex;
}




/*css Header, menu di navigazione*/

header>nav{
    height: 80px;
    background-color: rgb(0, 132, 253);
    justify-content: space-between;
    

}

header>nav div.logo{
    width: 10%;
    background-color: darkblue;
    height: 100%;
}

header>nav div.menu{
    width: 10%;
    background-color: brown;
    height: 100%;
}



/*css prima sezione - Get a demo application*/


article.row{
    flex-direction: column;
    flex-wrap: wrap;
}


section.first-section{
    height: 500px;
    background-color:crimson ;
   

}

article div.box-top{
width: 100%;
background-color: aqua;
height: 250px;
}

article div.box-top div.box-space-two{
    background-color: chocolate;
    width: 100%;
    height: 70%;
}

article div.box-top div.box-space-one{
    background-color: black;
    width: 100%;
    height: 30%;
}



article div.box-bottom{
width: 100%;
background-color: blue;
height: 250px;
}

article div.box-bottom div.box-space-one{
    background-color: black;
    width: 100%;
    height: calc(100% / 3);
}




/*seconda sezione - strategic planning*/

section.second-section{
      height: 600px;
      background-color: coral;
      margin: 1rem 0;
}

section.second-section div.box-left{
    height: 300px;
    background-color: aqua;
}

section.second-section div.box-right{
    height: 300px;
    background-color: rgb(18, 51, 51);
}



/*css terza sezione dove ci sono i Testimonials*/


section.third-section>article{
    background-color:rgb(255, 251, 3) ;
    height: 800px;
    
}


section.third-section>article>div.title-section,
section.third-section>article>div.testimonial{
   height: calc(100% / 4);
    
}

section.third-section>article>div.testimonial{
    background-color: blueviolet;
}

section.third-section>article>div.title-section{
    background-color: rgb(13, 221, 221);
}



















/* CSS quarta sezione dove ci sono i benefici se lavori con noi*/

section.fourth-section{
    height: 1000px;
    background-color: chartreuse;
    margin: 1rem 0;
}


section.fourth-section>article.row h1
{
    height: 100px;
    background-color: black;
}


section.fourth-section>article.row>div.box-top-benefit{
    background-color: aqua;

}

section.fourth-section>article.row>div.box-bottom-benefit{
    background-color: blueviolet;
}

section.fourth-section>article.row>div.box-top-benefit,
section.fourth-section>article.row>div.box-bottom-benefit{
height: 450px;
}


div.box-benefits{
    height: calc(100% / 3);
    background-color: blue;
}
















/* CSS quinta sezione dove ci sono ABOUT*/


section.fifth-section{
    height: 800px;
    background-color: rgb(201, 94, 94);
}

section.fifth-section>article.row{
    height: 100%;
}

div.box-left-about,
div.box-right-about{
    height: calc(100% / 2);

}

div.box-left-about{
    background-color: rgb(179, 179, 59);
}

div.box-right-about{
    background-color: rgb(0, 60, 255);

}













/* CSS sesta sezione dove GET strted*/

section.sixth-section{
    height: 1000px;
    background-color: aqua;
}

div.pre-footer{
    height: 100%;
}




/*CSS FOOTER*/

footer{
    height: 600px;
    background-color: black;
}