* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px dashed rgb(255, 0, 200);*/
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
}

/*CSS da riutilizzare in altre sezioni*/

.flex {
  display: flex;
}

.row {
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.padding-interno-box {
  padding: 2rem;
}

.border-radius-button {
  border-radius: 25px;
  border: none;
  color: white;
}

.padding-button-big {
  padding: 0.5rem 5rem;
}

.font-size-subtitle {
  font-size: 33px;
}

.color-background {
  background-color: rgb(149, 147, 230);
}

.color-title {
  color: rgb(149, 147, 230);
}
/*css Header, menu di navigazione*/

header {
  height: 80px;
  background-color: rgb(0, 132, 253);
}
header > nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

header > nav div.menu-toggle {
  font-size: xx-large;
  color: white;
}

/*CSS menu desktop*/

header > nav > div.menu{
 
  display: none;

}



/*css prima sezione - Get a demo application*/

article div.box-top {
  width: 100%;
}

.color-box-first-section {
  background-color: rgb(181, 221, 255);
  
  border-radius: 25px;

  margin: 1rem 0;
}

/*primo box*/



article div.box-top div.box-space-two {
  padding: 2rem 2rem 0 2rem;
}

article div.box-top div.box-space-two >div> h3 {
  color: rgb(0, 129, 253);
  font-size: xx-large;
}

article div.box-top div.box-space-two > div > p {
  color: rgb(91, 111, 128);
  padding: 1rem 0;
}

article div.box-top div.box-space-two >div> button {
  background-color: rgb(0, 132, 253);
  color: white;

  font-size: larger;
  margin: 1rem 0;
}

div.box-space-two > div >img {
  object-fit: cover;
  width: 100%;
}

/*secondo box*/

article div.box-space-one {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

article div.box-space-one > i,
article div.box-space-one > h2 {
  color: rgb(0, 132, 253);
}

article div.box-space-one > i {
  font-size: 70px;
}

article div.box-space-one > h2 {
  font-size: xx-large;
  padding: 1rem 0;
}

article div.box-space-one > p {
  text-align: center;
  color: rgb(91, 111, 128);
}

article div.box-bottom {
  width: 100%;
}

 /* article div.box-bottom div.box-space-one {
width: 100%;
  height: calc(100% / 3);
}*/

/*seconda sezione - strategic planning*/

section.second-section article.article-second-sec {
  padding: 3rem 0;
}

section.second-section {
  background-color: rgb(149, 147, 230);
}

section.second-section div.box-left {
  color: white;
  width: 100%;
}

section.second-section img {
  width: 100%;
}




section.second-section h1 {
  padding: 3rem 0;
  font-size: xx-large;
}

section.second-section p {
  padding: 1.5rem 0;
}

section.second-section div.box-right {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  width: 100%;
}

section.second-section div.box-right div> p {
  font-style: oblique;
}

section.second-section div.box-right div> img{
  width: 100%;
  object-fit: cover;
}

section.second-section div.box-right div> i {
  padding: 1rem;
  background-color: rgb(149, 147, 230);
  border-radius: 100%;
  margin-bottom: 1rem;
}

section.second-section div.box-right div> h2 {
  color: black;
}

/*css terza sezione dove ci sono i Testimonials*/

section.third-section {
  padding: 3rem 0;
}

section.third-section div.title-section {
  text-align: center;
  padding-bottom: 3rem;
}

section.third-section div.title-section > h2 {
  padding: 2rem 0;
}

section.third-section div.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

section.third-section div.testimonial {
  background-color: rgb(149, 147, 230);
  border-radius: 30px;
  text-align: center;

  color: white;
  line-height: 1.5rem;
  margin: 1rem 0;
}

section.third-section div.testimonial  p {
  padding: 1rem 0;
}

/* CSS quarta sezione dove ci sono i benefici se lavori con noi*/

.back-color {
  background-color: rgb(149, 147, 230);
}

section.fourth-section {
  padding: 3rem 0 2rem 0;
  margin: 1rem 0;
}

section.fourth-section  > h1 {
  color: white;
  text-align: center;
}

section.fourth-section > article div.box-benefits {
  background-color: white;
  margin-top: 2rem;
}

section.fourth-section > article div.box-benefits > h1 {
  font-size: 50px;
}

section.fourth-section div.box-benefits > h2 {
  color: rgb(149, 147, 230);
}

section.fourth-section div.box-benefits > p {
  padding: 1rem 0;
}

section.fourth-section div.box-benefits > button {
  padding: 0.75rem 3rem;
}

div.box-benefits {
 /* height: calc(100% / 3);*/
  border-radius: 30px;
}

/* CSS quinta sezione dove ci sono ABOUT*/

section.fifth-section {
  padding: 3rem 0 5rem 0;
}

section.fifth-section div.box-left-about > h1 {
  font-size: xxx-large;
  
}

section.fifth-section div.box-left-about > p {
  line-height: 2.5rem;
}

section.fifth-section div.box-left-about > p:last-child {
  padding: 2rem 0 1rem 0;
}

section.fifth-section div.box-right-about section > img {
  width: 100%;

  border-radius: 50%;
}

section.fifth-section div.box-right-about section > i {
  position: absolute;
  right: 0;
  font-size: xxx-large;
  color: rgb(149, 147, 230);
}

section.fifth-section div.box-right-about > section {
  position: relative;
  width: 50%;
}

section.fifth-section div.box-right-about > p {
  font-size: 25px;
  padding: 1rem 0;
}

section.fifth-section div.box-right-about > button {
  padding: 0.5rem 1rem;
}

section.fifth-section div.box-right-about > button > i {
  padding: 0 0.5rem;
}

/* CSS sesta sezione dove GET strted*/

section.sixth-section {
  padding: 3rem 0;
  color: white;
}

.padding-sixth-section {
  padding: 1rem 0;
  text-align: center;
}

section.sixth-section > article {
  align-items: center;
}

section.sixth-section > article > h2 {
  font-size: 60px;
  color: rgb(253, 193, 95);
}

section.sixth-section > article > button {
  margin-bottom: 1rem;
}

/*CSS FOOTER*/

footer {
  background-color: rgb(51, 51, 51);
  padding: 5rem 0;
  color: white;
}

footer > section {
  text-align: center;
}

footer > section > p:first-child {
  padding-bottom: 2rem;
}

footer > section > p:last-child > a {
  color: rgb(131, 127, 193);
}


/*CSS PER TABLET*/


@media all and (min-width: 576px) {

  /*header*/
 



  /*prima sezione*/


  /*box top prima sezione*/


  section.first-section>article{
    display: flex;
    flex-direction: row;
    
   
    

    
    
  }


  article div.box-top{
  
    display: flex;
    flex-direction: row;
  }

  

  article div.box-top>div:last-child{
    width: 45%;

    
    
  }
  article div.box-top>div:first-child{
    width: calc(100% / 2 * 2 );
    margin-right:1rem ;
    
  }
 
  /*box-bottom prima sezione*/

  article div.box-bottom {
    display: flex;
    flex-direction: row;
  
  }

  article div.box-bottom>div:nth-child(3),
  article div.box-bottom>div:nth-child(2) {
   margin-left: 1rem;
   
  }

  /*seconda sezione*/

/*terza sezione*/

 section.third-section>article>div.testimonial{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  

 }

 section.third-section>article>div.testimonial>div:last-child{
  padding-left: 2rem;

 }








/*quarta sezione*/



section.fourth-section>article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

section.fourth-section  article div.box-benefits{
 width: calc(100% / 2 - 1rem)   ;
 margin-right: 1rem;
 
}

/*quinta sezione*/

section.fifth-section>article{
  flex-direction: row;
  flex-wrap: wrap;
}

section.fifth-section>article>div.box-left-about{
  width:65% ;
  padding-right: 1rem;
}

section.fifth-section>article>div.box-right-about{
width: 35%;
}


/*sesta sezione*/
section.sixth-section>article
{
  width: 60%;
  
}

/*footer*/
footer>section{
  width: 60%;
}

}





/*MEDIA QUERY PER DESKTOP*/

@media all and (min-width: 868px){
.container{
  width: 65%;
}

   /*CSS DESkTOP PRIMA SEZIONE*/

article div.box-top>div:first-child{
      display: flex;
      flex-direction: row;
}

article div.box-top>div:first-child>div:last-child{
  align-self: flex-end;
}



/*CSS DESKTOP SECONDA SEZIONE*/
section.second-section article.article-second-sec{
  
  flex-direction: row;
  flex-wrap: wrap;
}

section.second-section article.article-second-sec>div.box-left,
section.second-section article.article-second-sec>div.box-right{
  width: calc(100% / 2);
}






}