*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed rgb(255, 0, 200);
}

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
}

.container{
    width: 95%;
    margin: 0 auto;
}


/*css Header, menu di navigazione*/

header{
    height: 80px;
    background-color: rgb(0, 132, 253);
    
}
header>nav{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;

}



header>nav div.menu{
   font-size: xx-large;
   color: white;
   
    
}



/*css prima sezione - Get a demo application*/


article.row{
    
    flex-direction: column;
    flex-wrap: wrap;
   
}



article div.box-top{
width: 100%;


}

article div.box-top div.box-space-two{
    background-color:rgb(181, 221, 255);
    width: 100%;
    margin: 1rem 0;
    border-radius: 25px;
    padding: 2rem 2rem 0 2rem;
   
}

article div.box-top div.box-space-two>h3{
    color:rgb(0, 129, 253);
    font-size: xx-large;
}

article div.box-top div.box-space-two>p{
    color: rgb(91, 111, 128);
    padding: 1rem 0;
}

article div.box-top div.box-space-two>button{
    background-color: rgb(0, 132, 253);
    color: white;
    padding: 0.5rem 5rem;
    border: none;
    border-radius: 15px;
    font-size: larger;
}



 div.box-space-two>div>img{
    object-fit: cover;
    width: 100%;
    
    

    

}

article div.box-top div.box-space-one{
    background-color: black;
    width: 100%;
    height: 30%;
}



article div.box-bottom{
width: 100%;
background-color: blue;
height: 250px;
}

article div.box-bottom div.box-space-one{
    background-color: black;
    width: 100%;
    height: calc(100% / 3);
}




/*seconda sezione - strategic planning*/

section.second-section{
      height: 600px;
      background-color: coral;
      margin: 1rem 0;
}

section.second-section div.box-left{
    height: 300px;
    background-color: aqua;
}

section.second-section div.box-right{
    height: 300px;
    background-color: rgb(18, 51, 51);
}



/*css terza sezione dove ci sono i Testimonials*/


section.third-section>article{
    background-color:rgb(255, 251, 3) ;
    height: 800px;
    
}


section.third-section>article>div.title-section,
section.third-section>article>div.testimonial{
   height: calc(100% / 4);
    
}

section.third-section>article>div.testimonial{
    background-color: blueviolet;
}

section.third-section>article>div.title-section{
    background-color: rgb(13, 221, 221);
}



















/* CSS quarta sezione dove ci sono i benefici se lavori con noi*/

section.fourth-section{
    height: 1000px;
    background-color: chartreuse;
    margin: 1rem 0;
}


section.fourth-section>article.row h1
{
    height: 100px;
    background-color: black;
}


section.fourth-section>article.row>div.box-top-benefit{
    background-color: aqua;

}

section.fourth-section>article.row>div.box-bottom-benefit{
    background-color: blueviolet;
}

section.fourth-section>article.row>div.box-top-benefit,
section.fourth-section>article.row>div.box-bottom-benefit{
height: 450px;
}


div.box-benefits{
    height: calc(100% / 3);
    background-color: blue;
}
















/* CSS quinta sezione dove ci sono ABOUT*/


section.fifth-section{
    height: 800px;
    background-color: rgb(201, 94, 94);
}

section.fifth-section>article.row{
    height: 100%;
}

div.box-left-about,
div.box-right-about{
    height: calc(100% / 2);

}

div.box-left-about{
    background-color: rgb(179, 179, 59);
}

div.box-right-about{
    background-color: rgb(0, 60, 255);

}













/* CSS sesta sezione dove GET strted*/

section.sixth-section{
    height: 1000px;
    background-color: aqua;
}

div.pre-footer{
    height: 100%;
}




/*CSS FOOTER*/

footer{
    height: 600px;
    background-color: black;
}